#feed {
  h1 {
    text-align: center;
    margin-top: 16px;
  }
  #cards {
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 600px);
    grid-column-gap: 2%;
    grid-row-gap: 2%;
  }

}