@import "../bootstrap-5.0.2/scss/bootstrap.scss";
@import "variables.scss";
@import "home.scss";

body {
  margin: 0;
  padding: 25px;

}

h1, h2, h3, h4, h5, h6 {
  font-family: $font_ibm;
}

a, ul, li{
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}


.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.navbar-nav .nav-link {
  color: $hover;
}

.navbar {
  background-color: $primary !important;
  height: 60px;
}

.navbar-nav .nav-link:focus {
  color: $primary!important;
}

.navbar {
  background-color: $primary !important;
  height: 80px;
  margin: -25px -25px 0 -25px;
}

#navbarNavAltMarkup {
  background-color: $primary !important;
  margin-left: -20px;
}

.navbar .navbar-nav .nav-link {
  color: $light !important;

}

.navbar .navbar-nav .nav-link:hover {
  color: $information !important;
}

.icon:hover {
  cursor: pointer;
  filter: invert(60%) sepia(24%) saturate(5373%) hue-rotate(1deg) brightness(120%) contrast(60%);
}

.navbar .navbar-nav .nav-link:focus {
  color: $information !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown-item:hover {
  background-color: $information;
}

.dropdown-menu {
  background-color: $secondary;
}

// Profile Background Image
.background-profile {
  margin-left: -25px;
  margin-right: -25px;

  .background img{
    height: 60vh;
    object-fit: cover;
    width: 100%;
    z-index: -1;
    @include sm-max {
      height: 30vh;
    }
  }
  .profile {
    margin-left: 15%;
    margin-top: -12%;
    .photo-profile {
      z-index:3;
      border: 2px solid $primary!important;
      width: 300px;
      height: 300px;

      @include sm-max {
        margin-top: -25%;
        margin-left: -10%;
        width: 100px;
        height: 100px;
      }
    }

    .badge {
      background-color: $intermediate;
      border: 1px solid $information;
      border-radius: 20px;
      z-index: 5;
      height: 50px;
      width: 230px;
      margin-top: -7%;
      @include sm-max {
        height: 30px;
        width: 120px;
      }
      p {
        font-size: 24px;
        @include sm-max {
         font-size: 16px;
        }
      }
      img {
        width: 40px;
        height: 40px;
        @include sm-max {
          width: 20px;
          height: 20px;
        }

      }

    }

  }

  .name-friendnumb {
    margin-top: 2%;
    margin-left: 5%;
    @include sm-max {
      margin-top: 2%;
      margin-left: 2%;
    }
    .profilename {
      color: $secondary;
      font-size: 36px;
      @include sm-max {
        font-size: 14px;
      }
    }
    .friendnumb {
      font-size: 24px;
      @include sm-max {
        font-size: 12px;
      }
    }

  }

}


