<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<h1>Feed</h1>
<div id="cards"></div>
<!--    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${post.author.userName}"></h5>
            <p class="card-text" th:text="${post.content}"></p>
            <p class="card-text" th:text="${post.video}"></p>
        </div>
        <span th:if="${post.picture} != null and ${post.picture.isUrl}">
            <img src="${post.picture}" alt="picture">
        </span>
        <span th:if="${post.picture} != null and ${post.picture.isUrl} == false">
            <img src="@{${'/ressources/images/' + post.picture}}" alt="picture">
        </span>
    </div>-->
</th:block>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<script>
    function addPost(post) {
        console.log(post);

        document.getElementById("cards").innerHTML +=
             `<div className="card">
                <div className="card-body">
                    <h5 className="card-title">${post.author.user.username}</h5>
                    <p className="card-text">${post.content}</p>
                    <p className="card-text">${post.video}</p>
                </div>
                ${(post.picture == null) ? "" : (post.picture.isUrl ? '<img src="${post.picture}" alt="picture">' :
                 '<img src="/ressources/images/' + post.picture + '" alt="picture">')}
             </div>`;
    }

</script>
<script th:inline="javascript">
    window.onload = function() {
        $.ajax( {
            type: "GET",
            url: "/api/posts/1/getAllByAuthorOrByAuthorFriends",
            contentType: 'application/json; charset=utf-8',
            //data: this.response,
            dataType: 'json',
            success: function (data) {
                alert('data is' + data)
                data.forEach(addPost)
            },
            error: function () {
                alert("INSIDE FAILURE");
            }
        });
    };
/*    let posts = /!*[[${allElements}]]*!/ {};
        posts.foreach(addpost);
    */
</script>
</body>
</html>