<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Cerebook</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/scss/style.css">
</head>
<body>

<div th:fragment="banner">
    <!-- Profile Background Image -->
  <div class="background-profile" sec:authorize="isAuthenticated()">
        <div class="background">
            <img th:if="${cerebookUser.background}!= null"  th:src="${cerebookUser.background}" alt="x men">
        </div>
        &lt;!&ndash; Upload profile image for user &ndash;&gt;
        <div class="d-flex justify-content-start">
            <div class="profile d-flex flex-column justify-content-center align-items-center">
                <img th:if="${cerebookUser.profilImage} != null" th:src="${cerebookUser.profilImage}!= null"  class="border bg-light rounded-circle photo-profile">
                <div class="badge d-flex flex-row justify-content-around align-items-center">
       <!--             <img th:if="${cerebookUser.membership.photo != null}" th:src="${cerebookUser.membership.photo}" class="ms-4">-->
                 <!--   <p class="text-light text-center my-auto me-4" th:text="${cerebookUser.membership.name}!= null" ></p>-->
                </div>
            </div>
            &lt;!&ndash; Show the name of the user and the number of her friends &ndash;&gt;
            <div class="name-friendnumb">
                <p class="profilename" th:text="${cerebookUser.user.firstName} + ' ' + ${cerebookUser.user.lastName}"></p>
                <p class="friendnumb text-secondary" > 350 friends </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
