<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>

<div th:fragment="banner">
    <!-- Profile Background Image -->
    <div class="background-profile" sec:authorize="isAuthenticated()">
        <div class="background">
            <img th:if="${cerebookUser.background}!= null" th:src="${cerebookUser.background}" alt="x men">
            <img th:unless="${cerebookUser.background}!= null"
                 th:src="@{https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg}" alt="x men">
        </div>
        <!--        &lt;!&ndash; Upload profile image for user &ndash;&gt;-->
        <div class="d-flex justify-content-start">
            <div class="profile d-flex flex-column justify-content-center align-items-center">
                <img th:if="${cerebookUser.profilImage} != null" th:src="${cerebookUser.profilImage}"
                     class="border bg-light rounded-circle photo-profile">
                <img th:unless="${cerebookUser.profilImage} != null"
                     th:src="@{https://cdn5.vectorstock.com/i/1000x1000/47/94/unknown-person-icon-vector-28334794.jpg}"
                     class="border bg-light rounded-circle photo-profile">
                <div class="badge d-flex flex-row justify-content-around align-items-center">

                  <!--  <img th:if="${cerebookUser.membership.photo}!= null" th:src="${cerebookUser.membership.photo}"
                                 class="ms-4">
                    -->

                    <p class="text-light text-center my-auto me-4" th:if="${cerebookUser.membership.name} != null"
                       th:text="${cerebookUser.membership.name}"></p>
                    <p class="text-light text-center my-auto me-4" th:unless="${cerebookUser.membership.name} != null"
                       th:text="${'No membership'}"></p>
                </div>
            </div>
            <!--  &lt;!&ndash; Show the name of the user and the number of her friends &ndash;&gt;-->
            <div class="name-friendnumb">
                <p class="profilename"
                   th:text="${cerebookUser.user.firstName} + ' ' + ${cerebookUser.user.lastName}"></p>
                <p class="friendnumb text-secondary"> 350 friends </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>