<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<body>
<header th:fragment="top">
    <!-- Navbar -->
    <nav th:replace="fragments/navbar::navbar">
    </nav>
    <!-- Profile Background Image -->
    <div class="background-profile" sec:authorize="isAuthenticated()" th:fragment="banner">
        <div class="background">
            <img th:src="${user.background}" alt="x men">
        </div>
        <!-- Upload profile image for user -->
        <div class="d-flex justify-content-start">
            <div class="profile d-flex flex-column justify-content-center align-items-center">
                <img src=" " class="border bg-light rounded-circle photo-profile">
                <div class="badge d-flex flex-row justify-content-around align-items-center">
                    <img th:src="${user.membership.photo} " class="ms-4">
                    <p class="text-light text-center my-auto me-4" th:text="${user.membership.name}"></p>
                </div>
            </div>
            <!-- Show the name of the user and the number of her friends -->
            <div class="name-friendnumb">
                <p class="profilename" th:text="${user.user.firstName} + ' ' + ${user.user.lastName}"></p>
                <p class="friendnumb text-secondary" > 350 friends </p>
            </div>
        </div>
    </div>
</header>

</body>
</html>