<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<body>
<div layout:fragment="content">
    <!-- Banner (background image and profile photo)-->
    <div th:replace="fragments/banner :: banner">
    </div>

    <!-- Main section -->

    <div class="container" id="profile">
        <section class="row">
            <!-- Section aboutMe: show the basic infos of the user -->
            <div class="col-lg-5" th:replace="profiles/getById :: aboutMe">

            </div>
            <div class="col-lg-1 my-4 my-md-0">
            </div>
            <!-- Section Post + Twitter starts from here:
             include a fragment of section Post inside this div (following line 21)
             -->
            <div class="col-lg-6 border border-2 border-dark">
            </div>
        </section>
    </div>
</div>
</body>
</html>